######################
# Project Files
######################
.project
.metadata
.classpath
.settings/**
.loadpath
.buildpath
target/*
*.class

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db


######################
# Mac
######################
.DS_Store


