<html>
<head>
<title>Job Intelipost</title>
</head>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<body>
	<div class="container">
        <h1 class="text-center">Portal Intelipost!</h1>
	    <div class="alert alert-success" role="alert">
	      Home logada! Para deslogar <a href="/logout" class="alert-link">clique aqui</a>.
	    </div>
	</div>
</body>
</html>
